.chart-container {
  position: relative;
  margin: auto;
  height: 48vh;
  width: auto;
}
canvas{

   height:500px !important;

}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  border: none;
  color: #000;
  background-color: transparent;
  outline: none;
  resize: none;
}
