.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  border: none;
  color: #000;
  background-color: transparent;
  outline: none;
  resize: none;
}
