.e-grid .e-headercell {
  padding: 10px 0px 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #f0f3f5;;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  border: none;
  color: #000;
  background-color: transparent;
  outline: none;
  resize: none;
}

.e-grid {
  box-shadow: 0 0 20px;
  border-radius: 5px;
}
