<div class="modal-header">
  <h4 class="modal-title">{{'TextModal' | translate}} ({{month}}) </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row mb-3">
      <div class="col-6">
        <p>
          <label class="font-weight-bold">{{'Policy' | translate}}: </label> <span>{{policy}}</span>
        </p>
        <p>
          <label class="font-weight-bold">{{"KPI" | translate}}: </label> <span>{{kpi}}</span>
        </p>
        <p>
          <label class="font-weight-bold">{{'PICPDCA' | translate}}: </label> <span>{{pic}}</span>
        </p>

        <div class="d-flex align-items-start">



        </div>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-secondary ml-2" (click)='download()'>{{'Download' | translate}}</button>
        <button type="button" class="btn btn-secondary" (click)='openUploadModalComponent()' >{{'Upload file' | translate}}</button>

        <div class="mt-3 d-flex justify-content-start">
          <ul class="list-group mr-3" style="width: 50%;" *ngIf="filesLeft.length > 0" [style.width]='filesRight.length > 0 ? "50%": "100%"'>
            <li class="list-group-item" *ngFor="let item of filesLeft">
              <a [id]='item.path' [href]="item.path">{{item.name}}</a>
            </li>
          </ul>
          <ul class="list-group" style="width: 50%;" *ngIf="filesRight.length > 0">
            <li class="list-group-item" *ngFor="let item of filesRight">
              <a [id]='item.path' [href]="item.path">{{item.name}}</a>
            </li>
          </ul>
      </div>
    </div>



    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" rowspan="2" class="text-center align-middle" style="width: 5%">月份</th>
              <th scope="col" rowspan="2" class="text-center align-middle" style="width: 5%">#</th>
              <th scope="col" class="text-center">P</th>
              <th scope="col" class="text-center" >Target</th>
              <th scope="col" class="text-center" style="width: 8%">Deadline</th>
              <th scope="col" class="text-center" style="width: 15%">D</th>
              <th scope="col" class="text-center" style="width: 8%">Achievement</th>
              <th scope="col" class="text-center" style="width: 10%">Status</th>
              <th scope="col" class="text-center" style="width: 20%">C</th>
            </tr>
            <tr>
              <th scope="col" class="text-center">本期行動計劃</th>
              <th scope="col" class="text-center">目標值 </th>
              <th scope="col" class="text-center">完成期限</th>
              <th scope="col" class="text-center">執行內容</th>
              <th scope="col" class="text-center">實績</th>
              <th scope="col" class="text-center">狀態</th>
              <th scope="col" class="text-center">執行狀況檢討</th>
            </tr>


          </thead>
          <tbody>
            <ng-container *ngFor="let item of gridData; let i= index;">
            <tr>
              <th scope="row" [attr.rowspan]="gridData.length" *ngIf="i == 0"  class="text-center align-middle">{{month}}</th>
              <th scope="row">{{i + 1}}</th>
              <td>{{item.content}}</td>
              <td>{{item.target}}</td>
              <td>{{item.deadline}}</td>
              <td >
                <textarea type="text" cols="30" rows="3" class="form-control" (ngModelChange)="onChangeContent($event, i)" [(ngModel)]='item.doContent'></textarea>
              </td>
              <td>
                <textarea type="text" cols="30" rows="3" class="form-control" (ngModelChange)="onChangeArchivement($event, i)" [(ngModel)]='item.achievement'></textarea>
              </td>
              <td>
                <select class="custom-select" [(ngModel)]="item.statusId"  (ngModelChange)="onChangeStatus($event, i, item)">
                  <option [value]="null">{{"Chose Status" | translate}}</option>
                  <option *ngFor="let item of status" [value]="item.id">{{item.name | translate}}</option>
                </select>
              </td>
            <td >
              <!-- <textarea type="text" cols="30" rows="3" class="form-control" (ngModelChange)="onChangeContent($event, i)" [(ngModel)]='item.doContent'></textarea> -->
              <textarea [(ngModel)]="item.resultContent"  (ngModelChange)="onChangeResult($event,i)" cols="30" rows="10" class="form-control"></textarea>
            </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ejs-grid #grid id='Grid'
        (actionBegin)='actionBegin($event)'
        [dataSource]='actions' [allowPaging]='true'
        [allowResizing]='true' [editSettings]='editSettings'
          gridLines='Both' (dataBound)="dataBound($event)" [toolbar]='toolbarOptions' [pageSettings]='pageSettings' >
          <e-columns>
            <e-column field='#' headerText='#' [allowEditing]='false' textAlign='Center' headerTextAlign='Center' width=30 type='number'>
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
            </e-column>
            <e-column field='content' headerText='A' textAlign='Center'  type='string'>
              <ng-template #headerTemplate let-data>
                <span>
                    <tr>
                      <th>
                        A
                      </th>
                    </tr>
                    <hr>
                    <tr>
                      <th>
                        下期行動計劃
                      </th>
                    </tr>
                 </span>
              </ng-template>
              <ng-template #template let-data>
                <textarea autosize type="text" class="form-control" readonly [value]="data.content" name="content"  style="text-align:left;" ></textarea>
              </ng-template>
              <ng-template #editTemplate let-data>
                <textarea autosize type="text" [(ngModel)]="data.content" class="form-control" [value]="data.content" name="content" style="text-align:left;"></textarea>
              </ng-template>


            </e-column>
            <e-column field='target'  headerText='Target'  textAlign='Center' type='string'>
              <ng-template #headerTemplate let-data>
                <span>
                    <tr>
                      <th>
                        Target
                      </th>
                    </tr>
                    <hr>
                    <tr>
                      <th>
                        目標值
                      </th>
                    </tr>
                 </span>
              </ng-template>
            </e-column>
            <e-column field='deadline' width=100 headerText='Deadline' type='date' format='MM/dd/yyyy' [edit]='dpParams' editType='datepickeredit' textAlign='Center'   >
              <ng-template #headerTemplate let-data>
                <span>
                    <tr>
                      <th>
                        Deadline
                      </th>
                    </tr>
                    <hr>
                    <tr>
                      <th>
                        完成期限
                      </th>
                    </tr>
                 </span>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>


      </div>

    </div>


</div>
<!-- <div class="modal-footer d-flex justify-content-end">
  <button type="button"
  class="btn btn-secondary mr-2"
  (click)="back()">{{'Save' }}
</button>
  <button type="button"
  class="btn btn-success"

  (click)="submit()">{{'Submit' }}</button>
</div> -->
<div class="modal-footer">
  <div class="w-100">
    <span style="color: red;font-size: 18px;">建議 Suggestion : 內容不超過250字 (Type the content within 250 words)</span>
    <button type="button" (click)="submit()" class="btn btn-success float-right">{{'Submit' }}</button>
    <button type="button" (click)="back()" class="btn btn-secondary mr-2 float-right">{{'Save' }}</button>
  </div>
</div>
<!-- data-toggle="tooltip"
data-placement="top"
title="Save data & Submit then close the window. In L0 tab hide this row."
 data-toggle="tooltip"
  data-placement="top"
  title="Save data & close the window."

-->
